/* Reset some default styles for better consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the body and header */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2rem;
}

/* Container for the main content */
.container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Product list */
.product-list {
    flex-basis: 70%;
}

.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.product-card h3 {
    font-size: 1.2rem;
}

.product-card p {
    font-size: 1rem;
    color: #333;
}

.add-to-cart {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 15px;
}

.add-to-cart:hover {
    background-color: #45a049;
}

/* Shopping cart */
.cart {
    flex-basis: 28%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    position: sticky;
    top: 20px;
}

.cart h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

.remove-from-cart {
    color: #fff;
    background-color: #f44336;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.remove-from-cart:hover {
    background-color: #d32f2f;
}

.cart p {
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: right;
}

#cart-total {
    font-weight: bold;
}

#checkout-btn {
    background-color: #ec8a09;
    color: #111111;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 15px;
    font-weight: bold;
}
